footer {
    background-color: var(--color-white);
    color: var(--color-white);
    font-family: var(--font-primary);
  }

  .footer-content {
    padding: var(--space-small) 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
    width: 100%;

  
  }

  .footer-link {
    margin: var(--space-xsmall) 0;
    display: block;
    text-decoration: none;
  }

  .footer-link:hover {
    color: var(--color-tertiary);
  }

  .footer-text {
    padding: var(--space-small) 6vw;
    background-color: var(--color-primary);
    
  }

  /* Estilos para tablets e dispositivos móveis */
  @media (max-width: 768px) {
    .footer-content {
      grid-template-columns: 1fr;
    }

    .footer-column {
      padding: var(--space-xsmall);
      text-align: center; 
   }
   .footer-link {
    margin:  0;
    display: block;
    text-decoration: none;
  }
  }

   /* Estilos para moveis  */
@media (max-width: 430px) {
  .logo{
    width: 100px;
  }
  }
